
<suite name="Suite">
  <test  name="Test">
    <classes>
      <class name="com.An_Tmobileapp.genericLib.CustumReports"/>
      <class name="com.An_Tmobileapp.ValidLoginTest"/>
      <class name="com.TMobile.customer.CreateCustomerTest"/>
      <class name="com.TMobile.customer.CreateProjectTest"/>
      <class name="com.An_Tmobileapp.Actionstream.CreateCampaignTest"/>
      <class name="com.An_Tmobileapp.Actionstream.CampaignTextScreenshot"/>
      <class name="com.An_Tmobileapp.Actionstream.SearchElementTest"/>
    </classes>
  </test> 
</suite> 
